@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #f1f1f1;
}

.salsa-regular {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.francois-one-regular {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar-thumb
{
	background-color: #270c13;
	border: 2px solid #000000;
}

.dropdown-hover:hover .dropdown-menu {
  display: block;
}

.dropdown-hover .dropdown-menu {
  display: none;
}
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.5); /* Postavite željenu providnost ovde */
  backdrop-filter: blur(5px);
}

.dropdown-menu a {
  color: #fff; /* Boja teksta unutar menija */
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #f9131ece;
}

.w-80{
  width: 80%;
}
.w-70{
  width: 70%;
}

.ml-2{
  margin-left: 10px;
}

.mr-2{
  margin-right: 10px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 10;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

a{
  text-decoration: none;
}

a i{
  transition-duration: .5s;
}

a i:hover{
  color: #f91320;
}

.carousel-item img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.custom-block {
  background-color: #ffffff;
  padding: 20px;
}
.scroll-down-btn {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: bounceUpDown 1s infinite alternate;
}

.navbar-toggler{
  margin-left: 10px;
}

@keyframes bounceUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.row{
  --bs-gutter-x: 0rem !important;
}

.w-90{
  width: 90%;
}

.h-90{
  height: 90%;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#upisUnutra {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centriranje vertikalno */
  align-items: center; /* centriranje horizontalno */
  height: 100%; /* osigurava da se element popuni po visini */
}

#upis {
  background: rgb(255,0,0);
  background: linear-gradient(0deg, rgb(209, 209, 209) 0%, rgba(33, 37, 41,1) 100%);
}

.card-sign {
  /*background-image: url(../img/sign.png);*/
  background-size: contain; /* Promenjeno u contain kako bi se slika uklopila unutar bloka */
  background-repeat: no-repeat; /* Da se slika ne ponavlja */
  background-position:right;
}

.card-sign2 {
  height: 100%;
  /*background-image: url(../img/sign2.png);*/
  background-size: contain; /* Promenjeno u contain kako bi se slika uklopila unutar bloka */
  background-repeat: no-repeat; /* Da se slika ne ponavlja */
  background-position:right;
}

.mt-6 {
  margin-top: 4rem !important;
}

.text-align{
  text-align: justify !important;
}

/* ROTATE CARD */

.card-rotate-sign{
  position: absolute;
  margin: auto;
  right: 0px;
  left: 0px;
  bottom: 20px;
}

.car-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  right: 0; /* Promenili smo right na 0 da bi blok bio centriran po x osi */
  left: 0; /* Dodali smo left na 0 da bi blok bio centriran po x osi */
  margin: auto; /* Koristimo margin:auto da bi centrirali blok */
  padding: 10px;
  border: 5px solid white;
}

.car-circle i{
  font-size: 46px;
}

.vh50{
  align-items: center; /* centriranje vertikalno */
  height: 100%; /* osigurava da se element popuni po visini */
}

.scene {
  width: 100%;
  height: 400px;
  margin: 40px 0;
  perspective: 600px;
}

@media only screen and (max-width: 575px) {
  .scene {
    height: 500px;
  }
}

.cardflip {
  border: 1px solid #270c13;
  border-radius: 5px;
  background-color: rgb(33, 37, 41);
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.cardflip.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  backface-visibility: hidden;
}

.card__face--front {
  
}

.card__face--back {
  overflow-y: auto;
  transform: rotateY(180deg);
}

.card__face--back p{
  font-size: 14px;
}

/* CSS */

.p-height{
  height: 47px;
}

.button-5{
  background-color: #fd3f3f !important;
}

.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.text-left{
  text-align: left;
}

.bi-check2-square{
  color: #ffffff;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.section_padding_130 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.faq_area {
  position: relative;
  z-index: 1;
  background-color: #f1f1f1;;
}

.faq-accordian {
  position: relative;
  z-index: 1;
}
.faq-accordian .card {
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
  margin-bottom: 0;
}
.faq-accordian .card .card-header {
  background-color: #ffffff;
  padding: 0;
  border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
  cursor: pointer;
  padding: 1.75rem 2rem;
  color: #fd3f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #fd3f3f7e;
  box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion {
 --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
}

.faq-accordian .card .card-header h6 span {
  font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
  color: #570707;
}
.faq-accordian .card .card-header h6.collapsed span {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
  padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 1280px) {
  .text-logo {
    font-size: 20px;
  }
  .nav-item {
    font-size: 14px !important;
  }

  .nav-item a{
    font-size: 14px !important;
  }

  .h4{
    font-size: 16px !important;
  }

  h2{
    font-size: 20px;
  }
  h3{
    font-size: 16px;
  }
  h4{
    font-size: 18px;
  }
}

.overflow{
  overflow-x: hidden; 
  overflow-y: hidden;
}

@media only screen and (max-width: 575px) {
  .support-button p {
      font-size: 14px;
  }
}

@media only screen and (max-width: 575px) {
  .h2 {
      font-size: 30px !important;
  }
}


.support-button i {
  color: #3f43fd;
  font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
  .support-button i {
      font-size: 1rem;
  }
}

.support-button a {
  text-transform: capitalize;
}
@media only screen and (max-width: 575px) {
  .support-button a {
      font-size: 13px;
  }
}

/********** Template CSS **********/
:root {
  --primary: #ffffff;
  --secondary: #8CC641;
  --light: #a9a9a9;
  --dark: #270c13;
}

.bg-primary{
  background-color:#ffffff !important;
}

.border-primary
{
  border-color: #fff !important;
}

.sub-color{
  color: #f91320;
}

.sub-color2{
  color: #8D292B;
}

.mapa{
  align-items: center;
}

.o-nama{
  text-align: justify;
}

.glow{
  -webkit-filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.6));
}

.text-primary
{
  color:#ffffff !important;
} 

.btn {
  font-weight: 700;
  transition: .5s;
}

.btn:hover {
  -webkit-box-shadow: 0 8px 6px -6px #555555;
  -moz-box-shadow: 0 8px 6px -6px #555555;
  box-shadow: 0 8px 6px -6px #555555;
}

.btn.btn-secondary {
  color: #FFFFFF;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
  position: relative;
  margin-left: 15px;
  padding: 35px 0;
  font-size: 18px;
  color: var(--light);
  outline: none;
  transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
  padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (min-width: 992px) {
  .navbar-dark .navbar-nav .nav-link::before {
      position: absolute;
      content: "";
      width: 0;
      height: 5px;
      bottom: 0;
      left: 50%;
      background: var(--primary);
      transition: .5s;
  }

  .navbar-dark .navbar-nav .nav-link:hover::before,
  .navbar-dark .navbar-nav .nav-link.active::before {
      width: 100%;
      left: 0;
  }
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link  {
      margin-left: 0;
      padding: 10px 0;
  }
}

.bg-hero {
  background: url(../img/hero.jpg) top right no-repeat;
  background-size: contain;
}

@media (max-width: 991.98px) {
  .bg-hero {
      background-size: cover;
  }
}

.about-start,
.about-end {
  background: url(../img/about-bg.jpg) center center no-repeat;
  background-size: contain;
}

@media (min-width: 992px) {
  .about-start {
      position: relative;
      margin-right: -90px;
      z-index: 1;
  }

  .about-end {
      position: relative;
      margin-left: -90px;
      z-index: 1;
  }
}

.service-item,
.contact-item {
  background: url(../img/service.jpg) top center no-repeat;
  background-size: cover;
  transition: .5s;
}

.service-item:hover,
.contact-item:hover {
  background: url(../img/service.jpg) bottom center no-repeat;
  background-size: cover;
}

.service-item .service-icon,
.contact-item .contact-icon {
  margin-top: -50px;
  width: 100px;
  height: 100px;
  color: var(--secondary);
  background: #FFFFFF;
  transform: rotate(-45deg);
}

.service-item .service-icon div,
.contact-item .contact-icon div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  transition: .5s;
}

.service-item .service-icon i,
.contact-item .contact-icon i {
  transform: rotate(45deg);
  transition: .5s;
}

.service-item:hover .service-icon div,
.contact-item:hover .contact-icon div {
  background: var(--secondary);
}

.service-item:hover .service-icon i,
.contact-item:hover .contact-icon i {
  color: var(--primary);
}

.service-item a.btn {
  position: relative;
  bottom: -30px;
  opacity: 0;
}

.service-item:hover a.btn {
  bottom: 0;
  opacity: 1;
}

.bg-quote {
  background: url(../img/quote.jpg) top right no-repeat;
  background-size: contain;
}

@media (max-width: 991.98px) {
  .bg-quote {
      background-size: cover;
  }
}

.team-item {
  position: relative;
  margin-bottom: 45px;
}

.team-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/team.jpg) bottom center no-repeat;
  background-size: cover;
  height: 90px;
  padding: 0 30px;
  right: 45px;
  left: 45px;
  bottom: -45px;
  transition: .5s;
  z-index: 1;
}

.team-item:hover .team-text {
  height: 100%;
  bottom: 0;
}

.team-social {
  position: absolute;
  transition: .1s;
  transition-delay: .0s;
  opacity: 0;
}

.team-item:hover .team-social {
  transition-delay: .3s;
  opacity: 1;
}

.bg-testimonial {
  background: url(../img/testimonial.jpg) top left no-repeat;
  background-size: contain;
}

@media (max-width: 991.98px) {
  .bg-testimonial {
      background-size: cover;
  }
}

.testimonial-carousel .owl-nav {
  margin-top: 30px;
  display: flex;
  justify-content: start;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
  position: relative;
  margin: 0 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: var(--secondary);
  font-size: 22px;
  border-radius: 45px;
  transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: var(--dark);
}

.testimonial-carousel .owl-item img {
  width: 60px;
  height: 60px;
}

.bg-call-to-action {
  background: url(../img/call-to-action.jpg) top right no-repeat;
  background-size: contain;
}

.bg-footer {
  background: url(../img/footer.jpg) center center no-repeat;
  background-size: contain;
}

@media (max-width: 991.98px) {
  .bg-call-to-action,
  .bg-footer {
      background-size: cover;
  }
}